.bar-loader {
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.bar-loader-fill {
  height: 100%;
  border-radius: 2px;
  animation: bar-load 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes bar-load {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  50% {
    width: 75%;
    margin-left: 25%;
  }
  100% {
    width: 0%;
    margin-left: 100%;
  }
}