.items-wrapper {
    display: grid;
    /* position: absolute; */
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    /* max-width: 100%; */
}

@media (max-width: 1024px) {
	.items-wrapper {
		grid-template-columns: 1fr;
	}
}

/* @media (max-width: 769px) {
	.items-wrapper {
		width: 100%;
		margin-right: 0;
	}
} */