@reference "../app/[locale]/globals.css";

#SidebarDiv {
  /* direction: rtl; */
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
  overflow: overlay;
    box-shadow: 4px 16px 8px -5 rgba(0, 0, 0, .5);
}

/* #SidebarDiv ul {
  direction: ltr;
}*/

#SidebarDiv::-webkit-scrollbar {
  width: 6px;
}

#SidebarDiv::-webkit-scrollbar-track {
  background: transparent;
}

#SidebarDiv::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

#SidebarDiv::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}

#themeToggle {
  @apply mr-3;
}

html.dark #SidebarDiv {
  scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
}

html.dark #SidebarDiv::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
}

html.dark #SidebarDiv::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 85, 99, 0.8);
}
